* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    background-color: #183518de;
}
img {
    display: inline-block;
}
a {
    display: inline-block;
}